<!DOCTYPE html>
<html>
<head>
    <title>My Music Eniyavel</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>🎵 My Music Eniyavel</h2>

    <ul>
        <li>Home</li>
        <li>Search</li>
        <li>Your Library</li>
        <li>Playlists</li>
    </ul>

</div>

<div class="main">

    <h1>Trending Songs</h1>

    <div class="cards">

        <div class="card">
            <img src="https://via.placeholder.com/200">

            <h3>Song One</h3>

            <p>Artist One</p>
        </div>

        <div class="card">
            <img src="https://via.placeholder.com/200">

            <h3>Song Two</h3>

            <p>Artist Two</p>
        </div>

    </div>

</div>

</body>
</html>